<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyectos</title>
     <link rel="stylesheet" href="CSS/styles.css">
  </head>
  <body>
    {{> header}}
    <main>
        <ul>
            <li>{{proyecto_1}}
                <p>{{descripcion_1}}</p>
                <a
                    href="https://github.com/Luciano-Oviedo/Fullstack-Javascript-2025---BOTIC-SOFOF-24-28-13-0081/tree/77c2426d2bd2bc561da71cf9e81ea18d2eee91c7/M%C3%B3dulo_4/AE3/Ejercicio-individual"
                >Enlace Github</a>
                </li>
                <br>
            <li>{{proyecto_2}}
                <p>{{descripcion_2}}</p>
                <a
                    href="https://github.com/Luciano-Oviedo/Fullstack-Javascript-2025---BOTIC-SOFOF-24-28-13-0081/tree/77c2426d2bd2bc561da71cf9e81ea18d2eee91c7/M%C3%B3dulo_4/AE5/Ejercicio-grupal"
                >Enlace Github</a>
            </li>
            <br>
            <li>{{proyecto_3}}
                <p>{{descripcion_3}}</p>
                <a
                    href="https://github.com/Luciano-Oviedo/Fullstack-Javascript-2025---BOTIC-SOFOF-24-28-13-0081/tree/77c2426d2bd2bc561da71cf9e81ea18d2eee91c7/M%C3%B3dulo_4/EVALUACIONES/Evaluaci%C3%B3n%20del%20m%C3%B3dulo%204"
                >Enlace Github</a>
            </li>
  </ul>
    </main>
    {{> footer}}
  </body>
</html>